// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-selector {
  color: blue;
}

/* div {
  border: 1px solid blue;
  padding: 0;
} */
.task-item {
  border: 1px solid grey;
  border-radius: 10px;
}
.task-item > div {
  display: inline-block;
  min-height: 100px;
  vertical-align: top;
}

.avatar {
  width: 15%;
}

.task-title {
  width: 60%;
  border-right:1px solid grey;
  border-left:1px solid grey;
}

.date {
  width: 20%;
}