// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
tbody {
  color: skyblue;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
}*/
table.task-selector {
  line-height: 1.5;
  border-collapse:separate;
  border:1px solid #ccc;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

table.task-selector th {
  text-align: center;
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom:none;
}

table.task-selector th:hover {
  background: #f5f5f5;
}

th.all-tasks {
  border-right: 1px solid #ccc;
}

tr {
  border-bottom: none;
}

ul#tasks {
  list-style: none;
}

li{
    list-style: none;
}

.task-item {
  border: 1px solid grey;
  border-radius: 10px;
}
.task-item > div {
  display: inline-block;
  height: 70px;
  vertical-align: top;
  text-align: center;
}

.avatar {
  width: 15%;
  padding-top: 19px;
}

.task-title {
  width: 50%;
  border-right:1px solid grey;
  border-left:1px solid grey;
  padding-top: 5px;
}
p {
  margin: 4px; 
}

.due-date {
  width: 30%;
}

input.toggle {
  margin-bottom: 5px;
  margin-top: 14px;

}